@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family: Roboto Condensed;
    font-size: 22px;
    /*background-color:lightskyblue;*/
    /*height:88vh;*/ /*Viewport Height*/
    /*background-image: linear-gradient(to bottom right, lightskyblue, pink);
    background-attachment: fixed;*/
}
summary
{
    font-size:32px;
    font-weight:500;
}
input
{
    font-size:22px;
}
/*--------------------------------------------*/
.dark
{
    /*background-image:none;*/
    color:#C8C8C8;
    /*background-image:#323232;*/
    background-image: linear-gradient(#323232, #323232);
    background-attachment: fixed;
}
.white
{
    color:black;
    background-image: linear-gradient(to bottom right, lightskyblue, pink);
    background-attachment: fixed;
}
#header
{
    padding:15px;
    display:flex;
    justify-content:space-between;
}
#switch-background /*> img*/
{
    width:32px;
    height:32px;
}
/*--------------------------------------------*/
#photo-and-color
{
    display:flex;
    justify-content:space-between;
}
#photo-container
{
    border:solid 1px;
    width:400px;
    height:300px;
}
#photo
{
    width: 400px;
    height: 300px;
}