@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family: Roboto Condensed;
    font-size: 22px;
    /*background-color:lightskyblue;*/
    background-image: linear-gradient(to bottom right, lightskyblue, pink);
    /*height:88vh;*/ /*Viewport Height*/
    background-attachment: fixed;
}
summary
{
    font-size:32px;
    font-weight:500;
}
input
{
    font-size:22px;
}
/*--------------------------------------------*/
#photo-and-color
{
    display:flex;
    justify-content:space-between;
}
#photo-container
{
    border:solid 1px;
    width:400px;
    height:300px;
}
#photo
{
    width: 400px;
    height: 300px;
}