body
{
    background-image:url("bliss.jpg");
    background-size:cover;
    font-family:Tahoma;
    text-shadow:1px 1px black;
}

.main-window
{
    border:solid 1px;
    width:400px;
    height:360px;
    position:absolute;
    left:25px;
    top:25px;

    border-top-left-radius:8px;
    border-top-right-radius:8px;
}
.title-bar
{
    width:100%;
    height:38px;
    background-color:blue;

    border-top-left-radius:7px;
    border-top-right-radius:7px;

    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;
}
.title-bar-left-side
{
    display:flex;
}
#app-icon
{
    width:24px;
    height:24px;
}
.title-bar button
{
    width:24px;
    height:24px;
}
.client-rect
{
    background-color:rgb(235,233,216);
    width:100%;
    height:322px;
}