@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-size: 24px;
    font-family:'Roboto Condensed';
    font-weight:300;
    /*font-family:'Roboto Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}
h3
{
    font-style:italic;
    text-decoration:underline;
}
p
{
    /*name:value;*/
    text-align: justify;
    text-indent: 48px;
    /*https://htmlbook.ru/faq/kak-mne-dlya-kazhdogo-abzatsa-dobavit-otstup-pervoy-stro*/
}
figure
{
    text-align:center;
    font-style:italic;
    font-weight:100;
}
ol
{
    list-style:upper-roman;
}
ul
{
    list-style:georgian;
}