body
{
}
.block
{
    width:700px;
    height:8vh;/*Viewport Height*/
    border:solid 1px;
    display:flex;
    justify-content:space-between;
    font-size:32px;
    margin:25px;
}
    .block > div
    {
        padding:5px;
    }
button
{
    width:128px;
    height:8vh;
}