@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family: Roboto Condensed;
    font-size: 48px;
    /*background-color:lightskyblue;*/
    background-image: linear-gradient(to bottom right, lightskyblue, pink);
    /*height:88vh;*/ /*Viewport Height*/
    background-attachment: fixed;
}